:root {
    --roboto: 'Roboto', sans-serif;
}

* {
    font-family: var(--roboto);
    margin: 0;
    padding: 0;
}
/* navigation section */
header {
    background-image: url(images/developer.png), url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position: 50px 40px, bottom right;
    height: 100vh;
    background-size: 85px, 750px;
    background-color: #FFF8F3;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 226px;
    padding: 51px 0px;
}

.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.nav-title span {
    color: #FD6E0A;
}

.navigation ul {
    display: flex;
    align-items: center;
}

.navigation ul li {
    list-style: none;
    margin-right: 51px;
}

.navigation ul li a {
    text-decoration: none;
    font-size: 20px;
    font-weight: normal;
    color: black;
}

.navigation .btn {
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.navigation .btn:hover {
    background-color: green;
    transition: 0.4s;
}

/* banner section */
.banner {
    display: flex;
    justify-content: space-between;
    margin: 0 100px 0 226px;
    align-items: center;
}

.banner .banner-contents {
    max-width: 585px;
}

.banner-contents h4 {
    font-size: 45px;
    color: #474747;
    margin-bottom: 5px;
}

.banner-contents h2 {
    font-size: 85px;
    color: black;
    margin-bottom: 10px;
}

.banner-contents p {
    font-size: 18px;
    color: #757575;
    margin-bottom: 15px;
}

.image-contents .img1 {
    width: 501px;
}

.banner-contents .btn2 {
    width: 200px;
    height: 64px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.banner-contents .btn2:hover {
    background-color: green;
    transition: 0.4s;
}

.banner-contents .btn3 {
    width: 150px;
    height: 64px;
    background-color: #FD6E0A;
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
}

.banner-contents .btn3:hover {
    background-color: green;
    transition: 0.4s;
}

/* about section */
.about {
    margin: 7% 10%;
    background-color: #FFF8F3;
    padding: 10% 10%;
    border-radius: 30px;
}

.about-contents {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    background-color: #FFFFFF;
    height: 200px;
    padding: 5%;
    justify-content: center;
    border-radius: 30px;
}

.about-contents .info {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.about-contents .info .in {
    margin: 0px;
    text-align: center;
    padding: 5px;
}


.about-contents h3 {
    font-size: 35px;
}

.about-contents p {
    font-size: 18px;
    text-align: center;
}

.info h6 {
    font-size: 20px;
    font-weight: normal;
}

.info p {
    font-size: 20px;
    font-weight: bolder;
}

/* skill section */
.skill {
    margin: 130px 220px;
}

.skill-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

.skill-container h3 {
    font-size: 35px;
}

.skill-container p {
    font-size: 18px;
    text-align: center;
}

.skill-card {
    display: flex;
    gap: 24px;
    align-items: center;
    padding: 30px;
}

.skill-card .skill-item {
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
    border: none;
    border-radius: 15px;
    padding: 30px;
}

.skill-card .skill-item img {
    width: 44px;
    margin-bottom: 30px;
}

.skill-card .skill-item h6 {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}

.skill-card .skill-item p {
    font-size: 16px;
    font-weight: normal;
    text-align: start;

}